@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

html {
 font-family: 'Montserrat', sans-serif;
 font-size: 18px;
 line-height: 1.5;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

p {
  font-size: 1rem;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  
}

ul {
  font-family: 'Open Sans', sans-serif;
}
a:hover {
  background: #ffb703;
}
