a:visited {
  background: #023047;
}

a:hover {
  background: #ffb703;
}

aside{
    width: 30%;
    float: right;
    margin: 25px;
    background-color: #8ECAE6;
    padding: 5px 25px;
  }
  
aside h3{
    font-size: 1rem;
  }


@media (prefers-color-scheme: dark){
	html{
		background-color: #333533;
		color: white;
	}

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;900&display=swap');

  added stuff below





}

