<html lang="en">

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

html {
 font-family: 'Montserrat', sans-serif;
 font-size: 18px;
  line-height: 1.5;
}

h1 {
  font-size: 3rem;
  text-align: center;
}

p {
  font-size: 1rem;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  
}

ul {
  font-family: 'Open Sans', sans-serif;
}
a:hover {
  background: #ffb703;
}

div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba (0, 0, 0, 0.2), 0 6px 20px 0 rgba (0, 0, 0, 0.19);
    margin-bottom: 25px;
}

div.container {
  text-align: center;
  padding: 10px 20px;
}